* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.container {
    width: 100%;
    margin: 1px auto;
    display: flex-column;
    justify-content: center;
    overflow: hidden;
}

#sbCanvas {
    border: 1px solid #d3d3d3;
    margin: auto;
    z-index: -1;
}

.menu {
    max-height: 96px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #333;
    background-color: #91d2ee;
    padding: 1px 5px;
}

.sliders {
    flex: 1;
    font-size: 10px;
    justify-content: center;
    min-height: 96px;
    text-align: center;
    padding: 4px;
}

.sliders > label {
    text-align: center;
    font-size: 12px;
    margin: 4px;
}

.sliders button {
    padding: 1px 2px;
    margin: 4px;
}

input[type=range] {
    width: 100%;
    align-self: center;
}

input[type=number] {
    width: 50%;
    margin: 4px;
}

select {
    height: 28px;
    width: 90%;
    margin: 4px;
}

#channel-list {
    flex: 4;
    display: flex;
    flex-direction: column;
    min-height: 94px;
    max-height: 94px;
    overflow-y: auto;
    background-color: #91d2ee;
    text-align: center;
    font-size: 12px;
}
#channel-list p {
    min-height: 12px;
}

input[type="radio"] {
    /* IE 9 */
    /* Chrome, Safari, Opera */
    transform: scale(2.8);
    margin: 5px;
    padding: 8px;
}

#channel-list label {
    margin: 0 5px;
    padding: 0 6px 0 0;
}

#add-channel {
    min-height: 24px;
}

.channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #333;
    min-height: 24px;
    text-align: center;
}

.channel select {
    background-color: #fff;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.channel button {
    text-align: center;
    font-size: 10px;
    padding-right: 9px;
    padding-left: 4px;
    margin: 0 1px;
    background-color: red;
    color: #fff;
    font-weight: 600;
}

#add-channel {
    width: 50%;
    margin: 4px 25%;
    padding: 1px 2px;
}

#help {
    position: fixed;
    width: 50%;
    top: 40%;
    left: 25%;

    background-color: #91d2ee;
    border-radius: 8px;
    border: 1px solid #333;
    text-align: center;
    line-height: 2.1rem;
}

#help button {
    width: 80px;
    padding: 5px;
    margin: 5px;
}

#help-btn {
    position: fixed;
    width: 20px;
    top: 1px;
    right: 1px;
    background-color: #91d2ee;
    border: 1px solid #333;
    text-align: center;
    font-size: 16px;
}

#help-btn:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    #help {
     top: 96px;   
    }
}

@media screen and (max-width: 876px) {
    #channel-list {
        flex: 3;
    }
    .menu {
        flex-direction: column;
        overflow: auto;
 
    }
    #help-btn {
        left: 0;
    }
}